* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.avatar {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  transform: translateY(-3px);
  border-radius: 50%;
}

/* ------------------- Auth Page -------------------*/
@import './auth.scss';

/*-------------------- Loading Page -------------------*/
@import './loading.scss';

/*-------------------- Profile Page -------------------*/
@import './profile.scss';

/*-------------------- Category Page -------------------*/
@import './category.scss';

/*-------------------- Home Page -------------------*/
@import './home.scss';
